@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10rem;
}

button {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  color: #555;
  outline: none;
  margin: 0;
  padding: 8px 15px;
  transition: 
    background 200ms ease-in-out,
    border 200ms ease-in-out;
}

button:hover:not(.active) {
  background-color: #EEE;
  cursor: pointer;
}

button.active {
  background-color: #4A90E2;
  border-color: #4A90E2;
  color: #FFF;
  cursor: pointer;
}

pre {
  display: inline-block;
  background: #ebebeb;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}