.select {
  position: relative;
  display: inline-block;
}

.options {
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  list-style: none;
  min-width: 183px;
  position: absolute;
  z-index: 50;
  opacity: 0;
  transform-origin: left top;
  transform: scale(0);
  transition: 
    transform 200ms ease-out,
    opacity 300ms ease;
}

.options.open {
  transform: scale(1);
  opacity: 1;
}

.options .option {
  padding: 0 16px;
  line-height: 32px;
  color: #333;
  font-size: 14px;
  text-align: left;
  position: relative;
  transition: 
    background-color 300ms ease-in-out,
    color 200ms ease
    font-weight 200ms ease;
}

.options .option:hover {
  background: rgba(74, 144, 226, 0.07);
  cursor: pointer;
}

.options .option.active {
  background: rgba(74, 144, 226, 0.07);
  font-weight: bold;
  color: #4A90E2;
}

.options .option .icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  opacity: 0;
  transition: 
    opacity 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.options .option .icon.show {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}